name: actions-ruby ubuntu

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: >-
      Ruby: ${{ matrix.ruby }}
    runs-on: 'ubuntu-latest'
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.4.x', '2.5.x', '2.6.x' ]
    steps:
    - name: checkout
      uses: actions/checkout@v1
    - name: Install Ruby, update MSYS2
      uses: MSP-Greg/actions-ruby@master
      with:
        ruby-version: ${{ matrix.ruby }}
    - name: Ruby Info
      run:  ruby -v
